.heading{
    font-size: 23px;
    margin: 0;
    width: 100%;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.div_volume{
    float: left;
}

.div_volume_img{
    border-radius: 100px;
    width: 200px;
}

.div_speed{
    float: right;
}

.div_speed_img{
    border-radius: 100px;
    width: 200px;
}



canvas{
    border: 5px solid white;
    border-radius: 20px;
}

#song_name{
    font-size: 23px;
}
